[submodule "native/cpp/SRNativeDLSS/third_party/DLSS"]
	path = native/cpp/SRNativeDLSS/third_party/DLSS
	url = https://github.com/NVIDIA/DLSS
[submodule "native/cpp/SRNativeMain/third_party/freetype"]
	path = native/cpp/SRNativeMain/third_party/freetype
	url = https://github.com/freetype/freetype
[submodule "native/cpp/SRNativeMain/third_party/glslang"]
	path = native/cpp/SRNativeMain/third_party/glslang
	url = https://github.com/187J3X1-114514/glslang-sr
[submodule "native/cpp/SRNativeFSR/SDK"]
	path = native/cpp/SRNativeFSR/SDK
	url = https://github.com/187J3X1-114514/FidelityFX-SDK-UpscaleOnly
